# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Environment variables
.env

# VSCode settings
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# Docker
*.local
docker-compose.override.yml
